:host {
	display: block;
	font-size: 18px;
}

.drag-shield {
	bottom: 0px;
	border: 10px solid #ff3366;
	cursor: grabbing;
	display: flex;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
	z-index: 2;
}

.drag-shield__message {
  background-color: #ff3366;
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  margin: auto auto 20px auto;
  padding: 10px 20px 10px 20px;
}

my-draggable {
	width: 500px;
	height: 500px;
	border: 2px solid #cccccc;
	border-radius: 4px;
	overflow: hidden;
}

.item {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: #333333;
	border-radius: 50%;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.item:hover {
  background-color: #ff3366;
}

.toggle {
	cursor: pointer;
	display: block;
	font-size: 15px;
	line-height: 20px;
	margin-top: 10px;
}